.layerB {
	position:relative;
	height:605px;
	width:800px;
	height:605px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:1px solid #FFFFFF;
	background-color:#FFFFFF;
      	
	margin: auto auto;
}
.NameOfStore {
position: absolute;
	top:10;
	left:45;
	text-allign:center;
	font-family:Britannic; 
	color:#69468b;
	font-weight:bold;
	font-size:40;	
}

.TouchOfLove {
	position : absolute;
	top : 53px;
	left : 150px;

	text-allign:center;
	font-family:Arial Narrow,sans-serif;
	color:#b8e1cf;
	font-size:11;
 	vertical-align: middle;
	
}

.tel {
	position:absolute;
	top:10px;
	right:250px;

	width:130px;
	height:60px;
	border-radius: 10px 0px 0px 10px;
	border:1px solid #acb1ce;
	background-color :#d1eaf1;
	font-family:Britannic; 

}

.InTel_1 {
	position : relative;
	left:8px;
 	top:7px;
	
	text-allign:center;
	font-family: arial, courier; 
	color:#ba94e4;
	font-size:13;	
	} 

.telB{
	position:absolute;
	top:10px;
	right:17px;

	width:240px;
	height:60px;
	border-radius: 0px 10px 10px 0px;
	border:1px solid #acb1ce;
	background-color :#d1eaf1;

}
.cart{
	position : absolute;
	left : 12px;
	top : 10px;
	
}

.call{
	position : absolute;
	left : 60px;
	top : 10px;
	
	text-allign:center;
	font-family:arial; 
	color:#df6732;
	font-size:16;
	font-weight:bold;	

}

.num{
	position : absolute;
	left : 87px;
	top : 30px;
	
	text-allign:center;
	font-family: arial, courier; 
	color:#df6732;
	font-size:16;	
}

.tabb{
	position : absolute;
	top : 65px;
	right: 17px ;
}

.manu{
	position : absolute;
	top : 75px;	
	
}
	.flag{
		position : absolute;
		top: 0px;
		left : 650px;	
	}
.manuN{
	position : absolute;
	left : 40px;
	top : 20px;
	
	text-allign:center;
	font-family: arial; 
	font-weight:bold;
	color:#b7b6a1;
	font-size:14;
	}

	.home{
		position : absolute;
		left : 10px;
		
		
		text-allign:center;
		font-family: arial; 
		font-weight:bold;
		color:#b7b6a1;
		font-size:14;
	
	}
	.aboutUs{
		position : absolute;
		left : 100px;	
		
		text-allign:center;
		font-family: arial; 
		font-weight:bold;
		color:#b7b6a1;
		font-size:14;
		white-space:nowrap;
	}
	
	.onlineStore{
		position : absolute;
		left : 200px;
	
		text-allign:center;
		font-family: arial; 
		font-weight:bold;
		color:#b7b6a1;
		font-size:14;
		white-space:nowrap;
	}
		
	.what{
		position : absolute;
		left : 325px;
		
		text-allign:center;
		font-family: arial; 
		font-weight:bold;
		color:#b7b6a1;
		font-size:14;
		white-space:nowrap;
	
	}

	.storeFinder{
		position : absolute;
		left : 445px;

		text-allign:center;
		font-family: arial; 
		font-weight:bold;
		color:#b7b6a1;
		font-size:14;
		white-space:nowrap;

	}

	.contactUs{
		position : absolute;
		left : 570px;

		text-allign:center;
		font-family: arial; 
		font-weight:bold;
		color:#b7b6a1;
		font-size:14;
		white-space:nowrap;
		
	}
	
.pic1{
	position : absolute;
	top : 125px;
	left: 17px ;
	}
.pic2{
	position : absolute;
	top : 125px;
	right: 17px ;
	}
.pic3{
	position : absolute;
	top : 350px;
	left: 17px ;
	}
.saleBox{
	position:absolute;
	top:350px;
	left:132px;

	width:220px;
	height:155px;
	border-radius: 0px 0px 0px 0px;
	background-color :#ef7a82;

}
.saleB_s{
	position : absolute;
	left : 10px;
	top : 20px;
	
	text-allign:center;
	font-family: arial, courier; 
	font-weight:bold;
	color:#ffffff;
	font-size:16;
	}
	
.saleB_20{
	position : absolute;
	left : 10px;
	top : 40px;
	
	text-allign:center;
	font-family: arial, courier; 
	font-weight:bold;
	color:#ffffff;
	font-size:60;
	
}
.saleB_p{
	position : absolute;
	left : 165px;
	top : 45px;
	
	text-allign:center;
	font-family: arial, courier; 
	font-weight:bold;
	color:#ffffff;
	font-size:30;	
}
.saleB_off{
	position : absolute;
	left : 165px;
	top : 70px;
	
	text-allign:center;
	font-family: arial, courier; 
	font-weight:bold;
	color:#ffffff;
	font-size:28;	

}
.babyB{
	position:absolute;
	top:510px;
	left:17px;

	width:250px;
	height:90px;
	border-radius: 0px 0px 0px 0px;
	background-color :#b69ac3;

	
}
	.baby{
		position : absolute;
		left : 10px;
		top : 5px;
	
		text-allign:center;
		font-family: arial, courier; 
		font-weight:bold;
		color:#ffffff;
		font-size:15;	
			
	}
		
	.weHelp{
		position : relative;
		left : 115px;
		top : 30px;
	
		text-allign:center;
		font-family: arial, courier; 
		color:#ffffff;
		font-size:11;	
	}
	.picBa{
		position:absolute;
		top:25px;
		left:15px;
	}
	
	
.letB{
	position:absolute;
	top:510px;
	right:17px;

	width:510px;
	height:90px;
	border-radius: 0px 0px 0px 0px;
	background-color :#8dcac3;
	
}
	.talkPic{
		position:absolute;
		top:10px;
		left:15px;
	}
	
	.let{
		position : absolute;
		left : 100px;
		top : 15px;
	
		text-allign:center;
		font-family: arial, courier; 
		font-weight:bold;	
		color:#ffffff;
		font-size:15;	
	}
	
	.new{
		position : absolute;
		left : 100px;
		top : 35px;
	
		text-allign:center;
		font-family: arial, courier; 
		color:#ffffff;
		font-size:11;	
	}

	.cartPic{
		position:absolute;
		top:15px;
		left:240px;
	
	}
	.shop{
		position : absolute;
		left : 310px;
		top : 15px;
	
		text-allign:center;
		font-family: arial, courier; 
		color:#ffffff;
		font-weight:bold;
		font-size:15;	
	}
	
	.toGet{
		position : absolute;
		left : 310px;
		top : 35px;
	
		text-allign:center;
		font-family: arial, courier; 
		color:#ffffff;
		font-size:11;	
	}